.main-container {
  background-image: linear-gradient(
    173.1deg,
    rgba(226, 66, 249, 0.94) 10.2%,
    rgba(79, 147, 249, 1) 77.3%
  );

  min-height: 100vh;
  padding-bottom: 10px;
  padding-top: 10px;
}
.tracker-container {
  margin: auto !important;
  background-image: linear-gradient(
    109.6deg,
    rgba(228, 107, 232, 1) 11.2%,
    rgba(87, 27, 226, 1) 96.7%
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none !important;
}
